@media(max-width: 767px) {
  @include grid('sm');

  .menu {
    display: none;
  }

  .general {
    padding-left: 70px;
    padding-top: 20px;

    &__date-range {
      height: 20px;
      width: 200px;
      font-size: 15px;
      margin-left: 5px;
    }

    &__btn-date {
      height: 20px;
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
    }

    &__icon-date {
      height: 15px;
      padding-right: 5px;
      padding-top: 2px;
    }

    &__graph {
      &-variables {
        @include flex(column, center, center);
      }

      &-var {
        width: 150px;
        margin-top: 10px;
      }
    }
  }

  .links {
    padding-left: 70px;

    &__list-link {
      height: 40px;

      &-name {
        min-width: 25%;
        padding-left: 2px;
        font-size: 9px;
      }

      &-href {
        font-size: 9px;
        padding-left: 5px;
      }

      &-icons {
        margin-top: 0;
        padding-right: 5px;
        max-width: 50px;
        @include flex(column, center, center);
      }

      &-icon-1 {
        width: 20px;
        padding-right: 0;
      }

      &-icon-2 {
        width: 15px;
      }
    }
  }

  .sidenav {
    .row {
      border-top: $border2;
      border-left: $border2;
      border-right: $border2;
    }

    &__header{
      display: block;
      padding-top: 40px;
      color: white;
    }

    &__wallet-icon {
      filter: brightness(0) invert(1);
    }

    &__menu-wallet {
      border: none;
    }

    &__menu-acc {
      width: 100%;
    }

    &__menu-link {
      width: 100%;
      border: none;

      &-icon {
        filter: brightness(0) invert(1);
      }
    }

    &__menu-exit {
      width: 100%;
      border-left: $border2;
      border-right: $border2;
      border-bottom: $border2;

      &-icon {
        filter: brightness(0) invert(1);
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__menu-notification {
      width: 100%;
      border-left: $border2;
      border-right: $border2;
      border-bottom: $border2;
    }
  }

  .row-hover:hover {
    background-color: lighten(#111, 10%);
    color: $color-main;
  }
}

@media(min-width: 768px) {
  @include grid('md');

  .menu {
    display: none;
  }


  .general {
    padding-left: 70px;
    padding-top: 20px;
  }

  .links {
    padding-left: 70px;

    &__list-link {
      &-name {
        min-width: 30%;
        padding-left: 2px;
        font-size: 15px;
      }

      &-href {
        font-size: 15px;
        padding-left: 30px;
      }
    }
  }

  .sidenav {
    .row {
      border-top: $border2;
      border-left: $border2;
      border-right: $border2;
    }

    &__header{
      display: block;
      padding-top: 40px;
      color: white;
    }

    &__wallet-icon {
      filter: brightness(0) invert(1);
    }

    &__menu-wallet {
      border: none;
    }

    &__menu-acc {
      width: 100%;
    }

    &__menu-link {
      width: 100%;
      border: none;

      &-icon {
        filter: brightness(0) invert(1);
      }
    }

    &__menu-exit {
      width: 100%;
      border-left: $border2;
      border-right: $border2;
      border-bottom: $border2;

      &-icon {
        filter: brightness(0) invert(1);
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__menu-notification {
      width: 100%;
      border-left: $border2;
      border-right: $border2;
      border-bottom: $border2;
    }
  }

  .row-hover:hover {
    background-color: lighten(#111, 10%);
    color: $color-main;
  }
}

@media(min-width: 992px) {
  @include grid('lg');

  .menu {
    display: block;
  }

  .general {
    padding-left: 270px;
    padding-top: 80px;
  }

  .links {
    padding-left: 270px;

    &__list-link {
      &-name {
        min-width: 40%;
        padding-left: 2px;
        font-size: 16px;
      }

      &-href {
        font-size: 16px;
        padding-left: 50px;
      }
    }
  }

  .sidenav__header {
    display: none;
  }
}

@media(min-width: 1200px) {
  @include grid('xl');

  body {
    background-color: darken($color-light, 15%);
  }
}